:host {
    display: block;
}
paper-material {
    padding: 15px;
    margin: 20px;
    background-color: white;
}
paper-button.game-more-info-button {
    background-color: var(--paper-teal-500);
    color: white;
}
